html {
  font-size: 15px;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.background {
  background-image: url("https://th.bing.com/th/id/R.f3e799bcf1132b0640a5fc44cda36f91?rik=k8rWc9m2zlkK9w&pid=ImgRaw&r=0");
  background-size: cover;
  background-attachment: fixed;
}
.keys {
  display: flex;
  /*flex: 1;*/
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  /*width: 10rem;*/
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  width: 100px;
  margin: 1rem 0.5rem;
  flex: 0 0 auto;
  width: auto;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
.nav-link:hover:not(.active) {
  color: ivory !important;
}
.custom-btn {
  font-weight: bolder;
  font-size: 80px;
}
